/* General Page Styling */
body {
    background-color: #4a4a4a; /* Dark gray background */
    color: #ccc; /* Light gray text */
    font-family: monospace;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #3a3a3a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

a {
	color: white;
	text-decoration: underline;
}

a:visited {
	color: white;
	text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #ddd;
}

/* Portfolio Grid */
.portfolio-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Project Cards */
.project-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #ccc;
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-info {
    background-color: #3a3a3a;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.software {
    font-size: 12px;
    color: #aaa;
	white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add "..." if the text is too long */
    max-width: 100%; /* Prevent overflow */
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add "..." if the text is too long */
    max-width: 100%; /* Prevent overflow */
    display: block;
}
.project-image {
    width: 400px; /* Set the width */
    height: auto; /* Keep the aspect ratio */
}
